@import url("fonts.css");
:root{
    --input-back:#F4F4F5;
    --input-text:#ADB5BD;
    --blue-button:#002DE3;
    --blue-button-text:white;
    --cyan:#E8EFFF;
    --error:#F42D2D;
    --main-color:white;
    --chat:#CDE1FD;
    --selected:#002DE3;
    --twovar:#375FFF;
    --menu:#F8FAFA;
    --button-menu:#707579;
}
body, html{
    margin: 0;
    height: 100%;
    width: 100%;
}
.row{
    padding: 0;
    margin: 0;
}
.row-form,.row-form .form,.row-form .main-img{
    height: 100%;
}
.form{
    display: flex;
}
.title{
    font-family: Grafita;
    font-size: 80px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.input-text{
    font-family: Montserrat-Bold;
    width: 300px;
    text-align: center;
    font-size: 18px;
    margin: 30px auto 40px auto;
}
.input-form{
    margin:auto;
}
.input-input{
    display: block;
    background: var(--input-back);
    color: var(--input-text);
    padding: 10px;
    text-align: center;
    font-family: Montserrat-Medium;
    margin: 0 auto 20px auto;
    width: 220px;
    border: none;
    outline-color: var(--input-text);
    outline-width: 2px;
}
.input-input::-webkit-input-placeholder {
    color: var(--input-text);
    font-family: Montserrat-Medium;
}
.input-button,.input-button-create{
    display: flex;
    border-radius: 25px;
    border: none;
    padding: 10px;
    margin: 0 auto;
}
.input-button *, .input-button-create *{
    width: 100%;
}
.input-button{
    width: 220px;
    background: var(--blue-button);
    color:var(--blue-button-text);
    font-family: Montserrat-Bold;
    margin-top: 40px;
}
.input-button-create{
    background: var(--cyan);
    width: 120px;
    font-family: Montserrat-SemiBold;
}
.input-text-additional{
    width: 100px;
    margin: 15px auto;
    text-align: center;
    font-family: Montserrat-Medium;
}
.main-img{
    display: flex;
}
.main-img img{
    margin:auto auto 0 auto;
}
.main-img-1{
    width: 100%;
}
.main-img-2{
    width: 100%;
}
.input-question{
    width: 200px;
    text-align: center;
    margin: 15px auto;
    font-family: Montserrat-Light;
    font-size: 15px;
}
@media (max-width: 992px){
    .main-img{
        display: none;
    }
}
.input-question button{
    background: transparent;
    border: none;
}
.error{
    color: var(--error);
    width:100%;
    text-align: center;
    font-family: Montserrat-Light;
    font-size: 15px;
    display: none;
}
.main-body{
    flex-direction: column;
    display: flex;
}
.header{
    height: 65px;
    background: var(--main-color);
}
.header-block{
    display: flex;
}
.header-shadow{
    position: relative;
    border-bottom: 1px solid #d6d6d8;
    padding: 0px;
}
.search{
    background-image: url("../img/search.svg");
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 15px;
    background-color: var(--input-back);
    border-radius: 25px;
    border: none;
    color:var(--input-text);
    outline-color:var(--button-menu);
    outline-width: 1px;
    font-family: Montserrat-Regular;
    height: 40px;
    width: 270px;
    margin: auto auto auto 0;
    padding: 15px 32px;
    font-size: 18px;
    outline: none;

}
.search::-webkit-input-placeholder {
    color: var(--input-text);
    font-family: Montserrat-Regular;    
}
.button-menu{
    background: transparent;
    margin: auto auto auto 0;
    border: none;
    font-size: 18px;
    color:var(--button-menu);
}
.conversation-block{
    margin: auto;
    display: flex;
    height: 100%;
}
.conversation-block-notes{
    font-family: Montserrat-Regular;
    font-size: 22px;
    margin: auto;
}
.conversation-avatar{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    margin: auto 0;
    object-fit: cover;
}
.conversation-avatar-text{
    background-color: var(--blue-button);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    margin: auto 0;
    display: inline-flex;
}
.conversation-avatar-text span{
    color: var(--main-color);
    margin: auto;
    font-size: 25px;
    font-family:Montserrat-Medium;
    line-height: 0;
}
.conversation-text-block{
    display: inline-block;
    margin: auto 0 auto 10px;
}
.conversation-name{
    font-size: 20px;
    font-family: Montserrat-Regular;
}
.conversation-status{
    font-family: Montserrat-Light;
}
.conversation-name,.conversation-status{
    margin: 0;
    line-height: 1.2;
}
.icon-right{
    margin: auto 0 auto auto;
    font-size: 21px;
}
.main{
    flex-grow: 1;   
}
.chats{
    width: 100%;
}
.content{
    background: var(--chat);
    box-shadow: inset 0 0 5px 0 var(--input-text);
    display: flex;
    padding: 0;
}
.sidebar{
    padding: 0;
    display: flex;
}
.notes{
    height: 80px;
    background: var(--input-back);
    padding: 10px 20px;
}
.notes p {
    line-height: 1.4;
    margin: auto 0;
}
.notes-heading{
    font-size: 22px;
    font-family: Montserrat-Regular;
}
.notes-message{
    font-size: 19px;
    font-family: Montserrat-Light;
}
.chat,.friend,.a-user{
    height: 80px;
    margin: 10px 0px 0px 10px;
    border-radius: 15px;
    padding: 10px;
    display:flex;
}
.block{
    margin: auto;
    display: flex;
    height: 100%;
}
.avatar{
    background-color: white;
    width: 60px;
    height: 60px;
    min-width: 60px;
    border-radius: 100%;
    border: none;
    margin: auto 0px auto 0px;
    object-fit: cover;
}
.avatar-text{
    background-color: var(--selected);
    width: 60px;
    height: 60px;
    min-width: 60px;
    border-radius: 100%;
    border: none;
    margin: auto 0px auto 0px;
    display: flex;
}
.avatar-text span{
    color: var(--main-color);
    margin: auto;
    font-size: 30px;
    font-family:Montserrat-Medium;
    line-height: 0;
}
.chat-avatar-text {
    background-color: var(--selected);
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: none;
    box-shadow: 0 0 5px 0 var(--input-text);
    display: inline-flex;
    margin: auto 10px 0 0;
}
.chat-avatar-text span{
    color: var(--main-color);
    margin: auto;
    font-size: 21px;
    font-family:Montserrat-Medium;
    line-height: 0;
}

.text-block{
    width: 100%;
    display: inline-block;
    margin: auto 0px auto 10px;
}
.ctb-div{
    display: flex;
}
.name,.message,.time,.viewed{
    line-height: 1.4;
}
.name{
    display: inline-block;
    font-size: 21px;
    font-family: Montserrat-Regular;
    margin: auto 0;
}
.message{
    display: inline-block;
    font-family: Montserrat-Light;
    font-size: 18px;
    margin: auto 0;
}
.time{
    display: inline-block;
    font-family: Montserrat-Light;
    font-size: 16px;
    margin: auto 0 auto auto;
}
.viewed{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: auto 0px auto auto;
}
.online{
    line-height: 1.4;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    border: 2.5px solid white;
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto 13px 55px;
    background: var(--blue-button);
}
.selected{
    background: var(--selected)
}
.selected .name,.selected .message,.selected .time,.selected .notes-heading,.selected .notes-message{
    color: white;
}
.selected .avatar-text{
    background: var(--main-color);
}
.selected .avatar-text span{
    color: var(--blue-button);
}
.selected .online{
    background: white;
    border-color: var(--blue-button);
}
.header-menu{
    list-style-type: none;
    padding: 10px;
    margin: 70px 0;
    background: var(--main-color);
    width: 270px;
    border-radius: 20px;
    position: fixed;
    z-index:2;
    box-shadow: 0 0 5px 0 var(--input-text);
    display: none;
}
.header-menu button li{
    color:black;
    font-size: 20px;
    font-family: Montserrat-Regular;
    display: flex;
}
.header-menu button li span,.header-menu li button i{
    line-height: 1.8;
}
.header-menu button li i{
    width: 20px;
    margin: auto 22px auto 10px;
    color:var(--button-menu);
}
.header-menu button li span{
    margin: auto 0;
}

.header-border{
    border-left: 1px solid #d6d6d8;
}
.user,.create-conversation,.conversation-settings{
    margin: 40px auto auto auto;
}

.user-avatar,.user-login,.discussion-avatar,.conversation-settings-p{
    display: flex;
    width: 100%;
}
.user-avatar i,.discussion-avatar i{
    margin: auto;
    color: var(--blue-button-text);
}
.user-avatar i{
    font-size: 60px;
}
.discussion-avatar i{
    font-size: 80px;
}
.user-avatar,.discussion-avatar{
    border-radius: 100%;
    background-color: var(--selected);
    background-size: cover;
    object-fit: cover;
}
.user-avatar{
    background-image: url(../img/0.jpg);
    margin: auto;
    width: 160px;
    height: 160px;
}
.discussion-avatar{
    margin: 40px auto 40px auto;
    margin-bottom: 40px;
    width: 200px;
    height: 200px;
}
.user-login{
    margin-top: 20px;
    margin-bottom: 20px;
}
.conversation-settings-p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.user-login p{
    margin: auto;
    display: block;
    color:var(--input-text);
    font-size: 20px;
}
.conversation-settings-p p{
    margin: auto;
    display: block;
    color:var(--input-text);
    font-size: 25px;
    text-align: center;
}
.container-search-friends{
    width: 100%;
    height: 688px;
    overflow-y: scroll;
    display: flex;
    padding-bottom: 10px;
}
.container-friends{
    width: 100%;
    height: 608px;
    overflow-y: scroll;
    display: flex;
    padding-bottom: 10px;
}
.container-chats{
    width: 100%;
    height: 608px;
    overflow-y: scroll;
    padding-bottom: 10px;
}
.container-chats-search{
    width: 100%;
    height: 688px;
    overflow-y: scroll;
    padding-bottom: 10px;
}
.friends,.search-friends{
    width: 100%;
}
.friends-search{
    background: var(--selected);
    color: var(--blue-button-text);
    width: 100%;
    height: 80px;;
    padding: 10px 20px;
    display: flex;
    border:none;
}
.friends-search p {
    line-height: 1.4;
    margin: auto 0;
    font-size: 22px;
    font-family: Montserrat-Regular;
}
.but-cross, .but-plus{
    background: transparent;
    border: none;
    margin: auto 0px auto auto;
}
.but-cross i{
    font-size: 11px;
    color:var(--button-menu);
}
.but-plus i{
    font-size: 13px;
    color:var(--button-menu);
}
.new-application .but-cross{
    margin: auto 0px auto 1px;
}
.new-application{
    background: var(--chat);
}
.header-menu button{
    background: transparent;
    border: none;
    padding:0;
    width: 100%;
}
.friends,.container-search-friends,.user,.create-conversation,.conversation-settings{
    display: none;
}
.arrow{
    display: none;
}
.write-message-block{
    margin: auto auto 30px auto;
    display: flex;
}
.write-message{
    height: 65px;
    width: 700px;
    background: var(--blue-button-text);
    border-radius: 15px;
    box-shadow: 0 0 5px 0 var(--input-text);
    margin: auto 10px;
    border:none;
    padding:auto;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    font-family: Montserrat-Regular;
}
.write-message-attach,.write-message-send{
    background: var(--blue-button-text);
    height: 65px;
    width: 65px;
    border-radius: 100%;
    box-shadow: 0 0 5px 0 var(--input-text);
    border:none;
    margin: auto 0;
}
.write-message-attach i,.write-message-send i{
    color:var(--button-menu);
    font-size: 25px;
}
.chat-avatar {
    background-color: var(--blue-button-text);
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: none;
    box-shadow: 0 0 5px 0 var(--input-text);
    margin-right: 5px;
    margin-bottom: 12px;
    object-fit: cover;
    margin: auto 10px 0 0;
}
.message-field{
    width:710px;
    margin: auto;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 20px;
    min-height: min-content;
    display: flex;
    padding-left: 12px;
    margin: auto auto 0 auto;
}
.message-container{
    height: 570px;
    overflow-y: scroll;
    display: flex;
}
.content{
    flex-direction: column;
}
.chat-name,.chat-text{
    margin:auto 0px;
    max-width: 300px;
}
.chat-text{
    margin:auto 5px auto auto;
}
.chat-name{
    color: var(--blue-button);
    font-family: Montserrat-SemiBold;
}
.chat-text{
    font-family: Montserrat-Regular;    
}
.chat-message{
    display: inline-flex;
    background: white;
    padding: 5px 10px;
    border-radius: 10px;
    width: auto;
    height: auto;
    box-shadow: 0 0 5px 0 var(--input-text);
}
.interlocutor{
    margin-bottom: 10px;
    display: inline-flex;
}
.my-message{
    margin: 0px 0px 10px auto;
    display: inline-block;
}
#search-bf,#search-ff,#search-bp,#search-fd{
    display: none;
}
.friends-info,.chat-info{
    font-family: Montserrat-Light;
    text-align: center;
    margin-top: 50px;
    font-size: 23px;
    color:var(--button-menu);
}
.chat-info{
    margin: auto;
    font-size: 27px;
}
.friend:hover,.chat:hover,.a-user:hover,.notes:hover{
    background: var(--input-back);
    cursor: pointer;
}
.a-user:hover{
    background: var(--input-back);
}
.selected:hover{
    background: var(--blue-button);
}
.new-application:hover{
    background: var(--chat);
}
.chat-only{
    display: none;
}
.message-container::-webkit-scrollbar {
    width: 12px;
}
.message-container::-webkit-scrollbar-thumb {
    background: var(--input-text);
    border-radius: 8px;
    border: 3px solid var(--chat);
}
.message-container::-webkit-scrollbar-thumb:hover {
    background: var(--button-menu);
}

.container-search-friends::-webkit-scrollbar,.container-friends::-webkit-scrollbar,.container-chats::-webkit-scrollbar,.container-chats-search::-webkit-scrollbar {
    width: 10px;
}
.container-search-friends::-webkit-scrollbar-thumb,.container-friends::-webkit-scrollbar-thumb,.container-chats::-webkit-scrollbar-thumb,.container-chats-search::-webkit-scrollbar-thumb {
    background: var(--input-text);
    border-radius: 8px;
    border: 3px solid var(--blue-button-text);
}
.container-search-friends::-webkit-scrollbar-thumb:hover,.container-friends::-webkit-scrollbar-thumb:hover,.container-chats::-webkit-scrollbar-thumb:hover,.container-chats-search::-webkit-scrollbar-thumb:hover{
    background: var(--button-menu);
}
.location-of-friends{
    width: 100%;
}
.ellipsis,.ellipsis-2,.ellipsis-3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.ellipsis{
    width: 195px;
}
.ellipsis-2{
    width: 230px;
}
.ellipsis-3{
    width: 210px;
}
.chat-menu{
    display: block;
    width:195px;
    margin: 70px 0px auto auto;
}
.chat-menu-block{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10px;
}
.header-size{
    width: 100%;
}
.chat-menu-main-block{
    padding: 0;
}
.chat-menu{
    display: none;
}
.participants-conversation,.add-users-sidebar{
    width: 100%;
}
.participants-conversation,.participants-conversation,.add-users-sidebar{
    display:none;
}
.header-menu button li{
    color:black;
    font-size: 20px;
    font-family: Montserrat-Regular;
    display: flex;
}
.cf-size{
    height: 683px;
}
.file{
    display: none;
}
.chat-text-block{
    display: inline-block;
    margin: auto 0;
}
.chat-icon-file{
    display: inline-block;
    margin: auto 10px auto 0px;
    line-height: 0;
    font-size: 50px;
    color: var(--blue-button);
}
.chat-file{
    display: flex;
    padding-right: 5px;
    cursor: pointer;
    margin: 5px 0px;
}
.chat-text-file-name{
    font-family: Montserrat-SemiBold;
}
.chat-text-file-size{
    font-family: Montserrat-Light;
}
.file-width{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    max-width: 230px;
}
.message-name-width{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    max-width: 300px;
}
.conversation-name-width{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    max-width: 300px;
}
.notes-width{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    width: 350px;
}
.user-file-photo{
    display: none;
}
.icon-friends,.icon-conversation{
    font-size: 18px;
}
button:active, button:focus {
    outline: none;
  }
button::-moz-focus-inner {
    border: 0;
}
.chat-text-time{
    font-family: Montserrat-Light;
    margin: auto 0 -5px auto;
    font-size: 12px;
}
.chat{
    position: relative;
}
.name-n{
    margin-bottom: -4px;
}
.message-n{
    margin-bottom: -4px;
}
.text-transfer{
    word-break:break-all;
}